
#Wpp{
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    background-repeat: no repeat;
}

#margit{
    max-width:500px;
    max-height:450px;
    width: auto;
    height: auto;
}

#godrick{
    max-width:1280px;
    max-height:400px;
    width: auto;
    height: auto;

}


#cabecalho{
    width: 100%;
    border: 1px solid #000;
    text-align: center;
    font-size: 15px;
}

a.clique:hover{
    border: 2px solid #000;
}

header li{
    display: inline;
    padding: 1% 1% 1% 5%;
    font-weight: 300;
    font-size: 21px;

}

a{
   text-decoration: none;

}

#BV{
    text-align: center;
    top: 101px;

}

#TXT1{
   text-align: center;
   font-size: 21px;
   font-family: Comic Sans;

}

#txtCAD{
    text-align: center;
    font-size: 21px;
    font-family: Comic Sans;
}

#Info{
text-align: center;
    font-size: 21px;
    font-family: Comic Sans;

}

#h1txt{
text-align: center;
    font-size: 21px;
    font-family: Comic Sans;

}

#FORM{
    text-align: center;
    padding-top: 70px;
    font-size: 21px;
    font-family: Comic Sans;
}

.Info{
    font-family: Comic Sans;
}

#h3r{  /*REQUISITOS DO SISTEMA*/
    text-align: center;

}

#H2J{ /*JOGABILIDADE ELDEN*/
    text-align: center;

}

#H2R{ /*REVELAÇÃO ELDEN*/
    text-align: center;

}

#IMGC1{

}


