{% extends 'base.html' %}
{% block conteudo %}


    <h1>CONTÉM SPOILERS</h1>
  <p>
    Conheça alguns dos Boss do jogo!
  </p>

    <div>
    <h3> Margit, o Agouro caído</h3>
    <p> <i>Foul Turnished, in search, of the elden ring.</i></p>
    <img id="margit" src="{{url_for('static',filename='imagens/MARGIT.jpg')}}">
      <p>
        Margit, o agouro caído é um grande chefe inimigo em Elden Ring. Este é um chefe opcional, pois os jogadores não precisam derrotá-lo para avançar em Elden Ring, embora precisem derrotar Margit para avançar para o Castelo Stormveil.
      </p>
    </div>


    <div>
    <h3> Godrick, o Enxertado</h3>
    <p> <i>I am the lord of all that is golden!.</i></p>
    <img id="godrick" src="{{url_for('static',filename='imagens/godrick.jpg')}}">

    <p>Godrick the Enxertado, também conhecido como Godrick the Golden, é um chefe semideus em Elden Ring.
      Este Elden Ring Godrick the Grafted Guide apresenta localizações de chefes, dicas, estratégias e vídeos sobre como derrotar Godrick facilmente, bem como estatísticas de chefes e conhecimento de Godrick.
      Chefes são inimigos únicos e desafiadores que podem ser encontrados em todas as Terras Intermediárias.
      Os Shardbearers lançam sua própria Grande Runa e Lembrança, capazes de serem transformadas em poderosas armas, feitiços, cinzas de guerra e talismãs para o jogador.</p>
    </div>






{% endblock %}