{% extends 'base.html' %}
{% block conteudo %}
    <h1>
       Conheça todas as classes disponíveis no Elden Ring.
    </h1>

    <h3>Atributos do Astrólogo</h3>

    <ul id="ULC1">

        <li>Nível: 6</li>
        <li>Vitalidade: 9</li>
        <li>Mente: 15</li>
        <li>Tenacidade: 9</li>
        <li>Força: 8</li>
        <li>Destreza: 12</li>
        <li>Inteligência: 16</li>
        <li>Fé: 7</li>
        <li>Arcano: 9</li>
    </ul>

    <img src="{{url_for('static',filename='imagens/ASTROLOG.jpg')}}">


    <section>
    <img class="cla" src="{{url_for('static',filename='imagens/BVANDIDO.jpg')}}">
    <h3>Atributos do Bandido</h3>

    <ul>

        <li>Nível 5</li>
            <li>Vitalidade: 10</li>
            <li>Mente: 11</li>
            <li>Tenacidade: 10</li>
            <li>Força: 9</li>
            <li>Destreza: 13</li>
            <li>Inteligência: 9</li>
            <li>Fé: 8</li>
            <li>Arcano: 14</li>

    </ul>
    </section>

    <section>
    <img class="cla" src="{{url_for('static',filename='imagens/CONFESSOR.jpg')}}">
    <h3>Atributos do Confessor</h3>
    <ul>
        <li>Nível: 10</li>
        <li>Vitalidade: 10</li>
        <li>Mente: 13</li>
        <li>Tenacidade: 10</li>
        <li>Força: 12</li>
        <li>Destreza: 12</li>
        <li>Inteligência: 9</li>
        <li>Fé: 14</li>
        <li>Arcano: 9</li>
    </ul>
    </section>


    <section>
    <img class="cla" src="{{url_for('static',filename='imagens/guerreiro.jpg')}}">
    <h3>Atributos do Guerreiro</h3>

    <ul>
       <li>Nível: 8</li>
       <li>Vitalidade: 11</li>
       <li>Mente: 12</li>
       <li>Tenacidade: 11</li>
        <li>Força: 10</li>
       <li>Destreza: 16</li>
        <li>Inteligência: 10</li>
        <li>Fé: 8</li>
       <li>Arcano: 9</li>
    </ul>
    </section>

    <section>
    <img class="cla" src="{{url_for('static',filename='imagens/heroi.jpg')}}">
    <h3>Atributos do Heroi</h3>

    <ul>
       <li> Nível: 7</li>
       <li> Vitalidade: 14</li>
       <li> Mente: 9</li>
       <li> Tenacidade: 12</li>
       <li> Força: 16</li>
       <li> Destreza: 9</li>
       <li> Inteligência: 7</li>
       <li> Fé: 8</li>
       <li> Arcano: 11</li>
    </ul>
    </section>

     <section>
    <img class="cla" src="{{url_for('static',filename='imagens/miuserval.jpg')}}">
    <h3>Atributos do Miserável</h3>

    <ul>
       <li> Nível 1</li>
        <li>Vitalidade: 10</li>
       <li> Mente: 10</li>
       <li> Tenacidade: 10</li>
       <li> Força: 10</li>
       <li> Destreza: 10</li>
       <li> Inteligência: 10</li>
       <li> Fé: 10</li>
       <li> Arcano: 10</li>
    </ul>
    </section>

    <section>
    <img class="cla" src="{{url_for('static',filename='imagens/prisioneiro.jpg')}}">
    <h3>Atributos do Prisioneiro</h3>

    <ul>

        <li>Nível: 9</li>
        <li>Vitalidade: 11</li>
        <li>Mente: 12</li>
        <li>Tenacidade: 11</li>
        <li>Força: 11</li>
       <li> Destreza: 14</li>
       <li> Inteligência: 14</li>
        <li>Fé: 6</li>
       <li> Arcano: 9</li>
    </ul>
    </section>

    <section>
    <img class="cla" src="{{url_for('static',filename='imagens/profeta.jpg')}}">
    <h3>Atributos do Profeta</h3>


    <ul>
       <li> Nível: 7</li>
        <li>Vitalidade: 10</li>
       <li> Mente: 14</li>
       <li> Tenaidade: 8</li>
       <li> Força: 12</li>
       <li> Destreza: 8</li>
        <li>Inteligência: 7</li>
        <li>Fé: 16</li>
        <li>Arcano: 11</li>
    </ul>
    </section>


    <section>
    <img class="cla" src="{{url_for('static',filename='imagens/samurai.jpg')}}">
    <h3>Atributos do Samurai</h3>

    <ul>
       <li> Nível: 9</li>
        <li>Vitalidade: 12</li>
        <li>Mente: 11</li>
        <li>Tenacidade: 13</li>
       <li> Força: 12</li>
        <li>Destreza: 15</li>
        <li>Inteligência: 9</li>
        <li>Fé: 8</li>
        <li>Arcano: 8</li>
    </ul>
    </section>

    <section>
    <img class="cla" src="{{url_for('static',filename='imagens/vagabundo.jpg')}}">
    <h3>Atributos do Vagabundo</h3>

    <ul>
        <li>Nível: 9 </li>
        <li>Vitalidade: 15 </li>
        <li>Mente: 10 </li>
        <li>Tenacidade: 11 </li>
        <li>Força: 14 </li>
        <li>Destreza: 13 </li>
        <li>Inteligência: 9</li>
        <li>Fé:9 </li>
        <li>Arcano:7 </li>
    </ul>
    </section>

{% endblock %}