{% extends 'base.html' %}
{% block conteudo %}


    <h1 id="BV" >Bem-Vindo! {{nome}}</h1>
    <p id="TXT1" >
       Elden Ring Wiki Guia : passo a passo, multijogador, chefes, segredos, equitação, habilidades e muito mais para Elden Ring!


        <i> Preencha o nosso formulário e faça parte das terras intermédias!</i>
    </p>

    <img id="Wpp" src="{{url_for('static',filename='imagens/fundoeld.jpg')}}">

    <div class="Info">
    <h1>HÁ QUANTO TEMPO ELES ESTÃO TRABALHANDO EM ELDEN RING?</h1>

    <p>O jogo estava em produção desde o início de 2017, logo após o lançamento do DLC, Ringed City, para Dark Souls 3. Tanto Elden Ring quanto Sekiro: Shadows Die Twice estavam sendo desenvolvidos simultaneamente por codiretores designados para os jogos. Desde então, o lançamento do jogo foi adiado algumas vezes, mas a primeira revelação do Ttrailer foi mostrada durante a E3 2019 sem data oficial de lançamento. O lançamento foi programado para novembro de 2020, mas foi adiado novamente. Depois de mais alguns atrasos foi finalmente lançado para todas as plataformas em  25 de fevereiro de 2022 . A data de lançamento original, 21 de janeiro, foi anunciada durante o Summer Game Fest 2021, e o atraso foi revelado via Twitter em 18 de outubro de 2021. </p>
    </div>

    <h3>REQUISITOS DO SISTEMA ELDEN RING</h3>

    <h5>REQUERIMENTOS MÍNIMOS</h5>
    <ul>
        <li>Processador: Intel Core i5-8400 / AMD FX-Ryzen 3 3300X</li>
        <li>RAM: 12GB</li>
        <li>SO: Windows 10</li>
        <li>PLACA DE VÍDEO: Nvidia GeForce GTX 1060 3GB / AMD Radeon RX 580 4GB</li>
        <li>Directx: Directx 12 (nível de recurso 12.0)</li>
        <li>Armazenamento: 60 GB</li>
        <li>Placa de som: dispositivo de áudio compatível com Windows</li>
    </ul>


    <h5>REQUERIMENTOS RECOMENDADOS</h5>
    <ul>
        <li>Processador: Intel Core i7-8700K/AMD Ryzen 5 3600X</li>
           <li>RAM: 16GB</li>
            <li>SO: Windows 11/10</li>
            <li>PLACA DE VÍDEO: Nvidia GeForce GTX 1070 8GB / AMD Radeon RX Vega 56 8GB</li>
            <li>Directx: Directx 12 (nível de recurso 12.0)</li>
            <li>Armazenamento: 60 GB</li>
            <li>Placa de som: dispositivo de áudio compatível com Windows</li>
    </ul>

    <div>
        <h2>JOGABILIDADE DE ELDEN RING</h2>
        <p>Elden Ring Wiki cobre Elden Ring, desenvolvido pela FromSoftware e BANDAI NAMCO Entertainment Inc, é uma aventura de RPG de ação e fantasia ambientada em um mundo criado por Hidetaka Miyazaki - criador da influente série de videogame DARK SOULS, e George RR Martin - autor de A série de fantasia mais vendida do New York Times, As Crônicas de Gelo e Fogo. Perigo e descoberta espreitam em cada esquina do maior jogo da FromSoftware até hoje.
        Hidetaka Miyazaki, presidente e diretor de jogos da FromSoftware Inc, conhecido por dirigir jogos aclamados pela crítica em franquias adoradas, incluindo Armored Core, Dark Souls, Bloodborne e Sekiro Shadows Die Twice.
        George RR Martin é o autor best-seller do The New York Times de muitos romances, incluindo a aclamada série As Crônicas de Gelo e One - A Game of Thrones, A Clash of Kings, A Storm of Swords, A Feast For Crows e A Dance com Dragões. Como escritor e produtor, ele trabalhou em The Twilight Zone, A Bela e a Fera e vários longas-metragens e pilotos que nunca foram feitos.</p>
    </div>

    <div>
        <h2>REVELAÇÃO DO ELDEN RING</h2>
        <ul>
            <li>Elden Ring está em produção desde o final do DLC de Dark Souls III.
            Isso contrasta com Sekiro, que iniciou a produção em 2015 após Bloodborne.</li>
        <li>Elden Ring será lançado para PC, Xbox One e Playstation 4</li>
        <li>Bandai Namco está publicando e registrou o IP Elden Ring</li>
        <li>Data de lançamento do Elden Ring – De nossas observações</li>
        É improvável que a janela de lançamento deste jogo corresponda ao tradicional março-abril da FromSoftware, e é mais provável que caia no lançamento de setembro-outubro de Dark Souls.</li>
        <li>“Elden Ring é um RPG de ação em terceira pessoa com um cenário de fantasia… a jogabilidade não está tão longe de Dark Souls… Elden Ring pertence ao mesmo gênero.”</li>
        <li>Abundância de armas, magia e construções, e foco em elementos de RPG. FromSoftware espera que a variedade de equipamentos seja maior do que Souls nesse aspecto.</li>
        <li>No protagonista principal fixo, os jogadores criam as características e a personalidade de seu personagem. Isso nos leva a acreditar que a criação de personagens é um dado adquirido.</li>
        <li>O mundo de Elden Ring é vasto e interconectado. Não sendo mais uma continuidade de “níveis”, os jogadores veem vastas paisagens entre as áreas “escala masmorra”.</li>
       <li> A escala mundial maior permite liberdade, promove a exploração e introduz mecânicas novas e emocionantes, como Equitação e Combate Montado.</li>
       <li> Elden Ring é uma “evolução natural de Dark Souls”. Novas mecânicas necessárias para este mundo maior. Espere as desafiadoras batalhas contra chefes, marca registrada da FromSoftware.</li>
       <li> As cidades não estarão cheias de aldeões, comerciantes e afins. Serão ruínas, masmorras e centros de exploração. Como Souls não existe uma grande população de NPCs.</li>
       <li> Espera-se que os NPCs que o jogador encontrar sejam os mais atraentes no trabalho do estúdio, graças ao envolvimento de Martin no Mythos.</li>
       <li> George RR Martin escreveu os mitos do mundo e Hidetaka Miyazaki escreveu a história do jogo.</li>
       <li> A história será revelada através de “fragmentos de narrativa ambiental”, como nos jogos Souls anteriores.</li>
       <li> O mito e o momento presente do jogador estão conectados e a exploração levará os jogadores a entender por que as coisas são como são.</li>
       <li> Não há informações no momento em que este artigo foi escrito sobre multijogador/online/invasões.</li>
        </ul>
    </div>


{% endblock %}